.startscreen {

  &__title {
    text-align: center;
    color: #8B5CF6;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    @media (max-width: 480px) {
      padding-left: .5rem;
    }

    li {
      display: flex;

      &:before {
        content: '\2022';
        color: #8B5CF6;
        margin-right: .5rem;
      }
    }
  }
}
